.background {
  background-image: url("../../../assets/bg3.jpg");
  background-size: auto;
  background-repeat: repeat;
  opacity: 0.5;
}

.sample1 {
  font-family: "Lato", sans-serif;
}
.sample2 {
  font-family: "Noto Sans", sans-serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}
